// Define variables for your color scheme

// For example:
$red: #D4312D;
$blue: #5E74ED;
$yellow: #FDB631;
$orange: #E67E22;
$light_orange: #da552f;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$strong_gray: #616668;
$white: #f4f4f4;
$red_heart: #d23333;
$custom_gray: #e6e6e6;

